@import url(https://fonts.googleapis.com/css?family=Philosopher:400,700,400italic,700italic&subset=latin,cyrillic)
body 
  background #fff
  font-family 'Philosopher', sans-serif

html
body
  position relative
  min-height 100%
  
.header
  height 500px
  width 100%
  background-color #fff
  background-image url(../images/bg.jpg)
  background-repeat no-repeat
  background-position bottom center
  margin-bottom 50px

.title
  text-align center
  font-size 35px 
  color #000
  line-height 1.2em
  margin-bottom 10px
  
.logo
  display table
  margin auto
  margin-top 5px
  font-size 20px
  line-height 40px
  text-align left
  font-weight 900
  span
    color #D64D4D
  img
    float left
    width 40px
    margin-right 10px
  &__description
    font-size 12px
    line-height 1.2em
    margin-top 5px
    color #222

.phone
  display table
  margin auto
  background-image url(../images/phone.png)
  background-repeat no-repeat
  background-position left center
  text-align left
  padding-left 35px
  margin-top 5px
  color #000
  font-size 20px
  line-height 30px
  font-weight 900
   
.offer
  text-align center
  font-size 35px
  line-height 1.15em
  font-weight 900
  // margin-top 5px
  color #000
 

.cart
  z-index 100
  position fixed
  top 0
  bottom 0
  right -300px
  width 300px
  height 100%
  min-height 300px
  transition all .2s linear
  &__bg
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    background #000
    transition all .2s linear
    opacity 0
    visibility hidden
  &_active
    right 0
    .cart__bg
      visibility visible
      opacity .5

  &__icon
    width 60px
    height 40px
    position absolute
    top 50%
    margin-top -20px
    left -40px
    background-color #eee
    background-image url(../images/cart.png)
    background-repeat no-repeat
    background-position 8px center
    display inline-block
    cursor pointer  
    border-top-left-radius 2px
    border-bottom-left-radius 2px
    z-index 50
  
  &__body
    z-index 100
    padding 10px
    position relative
    width 100%
    height 100%
    background #eee
    overflow-y auto

.btn
  display inline-block
  font-size 14px
  line-height 1em
  padding .8em 2em
  background #D64D4D
  color #fff
  border-radius 2px
  transition all .2s linear
  cursor pointer
  &:hover
    background #CA2020
  
 .catalog
   text-align center 
   margin-bottom 50px

.product
  // display none
  display inline-block
  transition all .1s linear
  margin 10px 
  margin-bottom 11px
  // float left
  &_active
    display inline-block
  &__body
    width 220px
    height 400px
    background #fff
    padding 10px 15px
    box-shadow 0px 1px 5px 1px rgba(236, 236, 236, .6)
    border 1px solid #eee
    transition all .2s linear
    &:hover
      border 1px solid #ddd
      box-shadow 0px 1px 10px 4px #ececec
  &__title
    height 20px
    text-align center 
    font-size 20px
    font-weight 900
    line-height 1em
    margin-bottom 10px
  &__description
    margin-bottom 10px
    text-align left 
    font-size 13px
    font-weight 400
    line-height 1.2em
    color #565656
    height 90px
  &__image
    display block
    margin 10px auto
    height 150px
    img
      max-width 100%
      height 150px
  &__price
    height 20px
    font-size 16px
    line-height 20px
    font-weight 900
    margin-bottom 10px
    color #000

.category  
  cursor pointer
  display inline-block
  margin 0 15px 10px 15px
  &__body
    position relative
    padding 10px 0px
  &__title
    text-align center 
    font-size 16px
    font-weight 900
    line-height 20px
    display inline-block
  &__image
    display block
    width 40px
    height 40px
    margin auto
    margin-bottom 2px
  &_active
    .category__title
      color #D64D4D
  
      
