@require "mixins/grid.styl"

grid-columns = 12
grid-gutter-width = 14px

.row
  row()
  col("a")
  @media (min-width: 490px)
    col('b')
  @media (min-width: 750px)
    col('c')
  @media (min-width: 970px)
    col('d')
  @media (min-width: 1200px)
    col('e')

width-items = 230px 
.container
  margin 0 auto
  
  width width-items 
  
  @media (min-width:  460px)
    width width-items * 2
    
  @media (min-width: 690px)
    width width-items * 3
  
  @media (min-width: 920px)
    width width-items * 4