
// @import url(https://fonts.googleapis.com/css?family=Philosopher:400,700,400italic,700italic&subset=latin,cyrillic)
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900&subset=latin,cyrillic);
body 
  background #fff
  // font-family 'Philosopher', sans-serif
  font-family 'Roboto', sans-serif

html
body
  position relative
  min-height 100%

@require "mixins/grid.styl"

grid-columns = 12
grid-gutter-width = 14px

.row
  row()
  col("a")
  @media (min-width: 490px)
    col('b')
  @media (min-width: 750px)
    col('c')
  @media (min-width: 970px)
    col('d')
  @media (min-width: 1200px)
    col('e')

.container
  margin 0 auto
  padding-left grid-gutter-width / 2
  padding-right grid-gutter-width / 2
  width 100%
  max-width 1200px