{% extends "templates/admin.html" %}

{% block content %}

<form action="/products/edit/{{ product.id }}" method="post" enctype="multipart/form-data">
  Название:
  <br>
  <input type="text" name="title" value="{{ product.title }}">
  <br><br>

  Цена:
  <br>
  <input type="text" name="price" value="{{ product.price }}">
  <br><br>

  Изображение:
  <br>
  <img src="/_/{{ product.image }}">
  <br>
  <input type="file" name="image">
  <br><br>

  Описание:
  <br>
  <textarea name="description" rows="5">{{ product.description }}</textarea>
  <br><br>

  {% if categories != false %}
      Категория:
      <br>
      <select name="category_id" value="{{ product.category_id }}">
        <option>-</option>
        {% for category in categories %}

          {% if category.id == product.category_id %}
              <option selected value="{{ category.id }}">{{ category.title }}</option>
          {% else %}
              <option value="{{ category.id }}">{{ category.title }}</option>
          {% endif %}

        {% endfor %}
      </select>
      <br><br>
  {% endif %}
  
  <input name="submit" type="submit" value="Изменить">
</form>

{% endblock %}