extends ../layouts/main.jade
block head
  title index

block body
  
  #cart

  script(id="cart-template" type="text/x-handlebars-template")
    +b.cart
      +e.body
        .row
          .row__col.row__col_a_3
            +e.title Наименование
          .row__col.row__col_a_3
            +e.quantity количество
          .row__col.row__col_a_3
            +e.price цена
          .row__col.row__col_a_3
            +e.clean 
        hr
        |{{#each items}}
        .row
          .row__col.row__col_a_3
            +e.title {{title}}
          .row__col.row__col_a_3
            +e.quantity {{quantity}}
          .row__col.row__col_a_3
            +e.price {{price}} руб.
          .row__col.row__col_a_3
            +e(span)(data-id="{{id}}").clean X
        hr
        |{{/each}}
        итого: {{sum}} руб.
  .container
    h2 НАШЕ МЕНЮ
    +b.row
    +b.row#categories
      script(id="category-template" type="text/x-handlebars-template")
        |{{#each categories}}
        div(data-id="{{id}}").category
          .category__body
            img(src="images/p.jpeg").category__image
            .category__title {{title}}
        |{{/each}}

    +b.row#products
      script(id="product-template" type="text/x-handlebars-template")
        |{{#each products}}
        +e(data-category-id="{{categoryID}}").col._a_12._b_6._c_4._d_4._e_3.product
          .product__body
            img(src="images/p.jpeg").product__image
            .product__title {{title}}
            p {{price}}
            .btn(data-id="{{id}}").cart__add Добавить в корзину
        |{{/each}}
