extends ../layouts/main.jade
block head
  title index

block body
  .header
    .container
      +b.row
        +e.col._a_5
          .phone 890144321818
        +e.col._a_2
          .logo
            img(src="images/logo.jpg")
            br
            |Дом 
            span Суши
        +e.col._a_5
          .cart
            |Ваша карзина
            br
            span 390 руб.
  .catalog
    .container
      +b.row
        +e.col._a_12
          .category.category_active
            .category__body
              img(src="images/p1.png").category__image
              .category__title Суши
          .category
            .category__body
              img(src="images/p2.png").category__image
              .category__title Ролы
          .category
            .category__body
              img(src="images/p3.png").category__image
              .category__title Сашими
          .category
            .category__body
              img(src="images/p4.png").category__image
              .category__title Соусы

    .container
       +b.row
        +e.col._a_12
          +b.product
            +e.body
              +e.image
                img(src="images/p1.png")
              +e.title Товар
              +e.description 
                Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки
              +e.price 300 руб.
              .btn В корзину
          +b.product
            +e.body
              +e.image
                img(src="images/p2.png")
              +e.title Товар
              +e.description
                Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки
              +e.price 300 руб.
              .btn В корзину
          +b.product
            +e.body
              +e.image
                img(src="images/p3.png")
              +e.title Товар
              +e.description
                Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов
              +e.price 300 руб.
              .btn В корзину
          +b.product
            +e.body
              +e.image
                img(src="images/p4.png")
              +e.title Товар
              +e.description
                Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки
              +e.price 300 руб.
              .btn В корзину

          +b.product
            +e.body
              +e.image
                img(src="images/p1.png")
              +e.title Товар
              +e.description
                Текст этот, несмотря на название, не имеет
              +e.price 300 руб.
              .btn В корзину
          +b.product
            +e.body
              +e.image
                img(src="images/p2.png")
              +e.title Товар
              +e.description
              +e.price 300 руб.
              .btn В корзину
          +b.product
            +e.body
              +e.image
                img(src="images/p3.png")
              +e.title Товар
              +e.description
                Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки
              +e.price 300 руб.
              .btn В корзину
          +b.product
            +e.body
              +e.image
                img(src="images/p4.png")
              +e.title Товар
              +e.description
                Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки
              +e.price 300 руб.
              .btn В корзину