extends ../layouts/main.jade
block head
  title index

block body
  .header
    .container
      +b.row
        +e.col._a_12._b_4
        +e.col._a_12._b_4
          .logo
            img(src="images/logo.png")
            br
            |Дом 
            span Суши
            .logo__description Доставка суши по Самаре
          .phone 8 (9014) 432-18-18
        +e.col._a_12._b_4
  .cart 
  .title Наше меню
  .catalog
    .container
      +b.row
        +e.col._a_12
          .category.category_active
            .category__body
              img(src="images/p1.png").category__image
              .category__title Суши
          .category
            .category__body
              img(src="images/p2.png").category__image
              .category__title Ролы
          .category
            .category__body
              img(src="images/p3.png").category__image
              .category__title Сашими
          .category
            .category__body
              img(src="images/p4.png").category__image
              .category__title Соусы

    .container
       +b.row
        +e.col._a_12
          +b.product
            +e.body
              +e.image
                img(src="images/p1.png")
              +e.title Товар
              +e.description 
                Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки
              +e.price 300 руб.
              .btn В корзину
          +b.product
            +e.body
              +e.image
                img(src="images/p2.png")
              +e.title Товар
              +e.description
                Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки
              +e.price 300 руб.
              .btn В корзину
          +b.product
            +e.body
              +e.image
                img(src="images/p3.png")
              +e.title Товар
              +e.description
                Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов
              +e.price 300 руб.
              .btn В корзину
          +b.product
            +e.body
              +e.image
                img(src="images/p4.png")
              +e.title Товар
              +e.description
                Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки
              +e.price 300 руб.
              .btn В корзину

          +b.product
            +e.body
              +e.image
                img(src="images/p1.png")
              +e.title Товар
              +e.description
                Текст этот, несмотря на название, не имеет
              +e.price 300 руб.
              .btn В корзину
          +b.product
            +e.body
              +e.image
                img(src="images/p2.png")
              +e.title Товар
              +e.description
              +e.price 300 руб.
              .btn В корзину
          +b.product
            +e.body
              +e.image
                img(src="images/p3.png")
              +e.title Товар
              +e.description
                Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки
              +e.price 300 руб.
              .btn В корзину
          +b.product
            +e.body
              +e.image
                img(src="images/p4.png")
              +e.title Товар
              +e.description
                Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки
              +e.price 300 руб.
              .btn В корзину