extends ../layouts/main.jade
block head
  title index

block body
  .header
    .container
      +b.row
        +e.col._a_12._c_4
          .logo
            img(src="images/logo.png")
            |Дом 
            span Бургер
            //- .logo__description Доставка суши по Самаре
        +e.col._a_12._c_4
        +e.col._a_12._c_4
          .phone 8 (914) 432-18-18
      +b.row
        +e.col._a_12._b_12
          .offer Доставка еды на дом <br>в Москве за 49 минут
  +b.cart._null
    +e.bg
    +e.icon 
    +e.body
      +b.row
        +e.col._a_12
          #cart
          +b('form').form
            +e.title Оформить заказ
            +e('input').input(type="text" name="phone" placeholder="Телефон")
            +e('input').input(type="text" name="" placeholder="Количество персон")
            +e('textarea').textarea(rows="2" name="adress" placeholder="Адрес")
            +e.btn(type="submit") Заказать
          script(id="cart-template" type="text/x-handlebars-template")
            .cart__header Ваша казина
            |{{#each items}}
            .cart__item
              +b.row
                .cart__clean(data-id="{{id}}")
                +e.col._a_6
                  |{{#if img}}
                  img(src="{{img}}").cart__image
                  |{{else}}
                  .cart__image
                  |{{/if}}
                  .cart__title
                    |{{title}}
                +e.col._a_6
                  .cart__quantity
                    .row
                      .cart__minus(data-id="{{id}}")
                      .cart__quantity-val
                        |{{quantity}} 
                        span шт.
                      .cart__plus(data-id="{{id}}")
                    .cart__price
                      |{{price}} 
                      span руб.
                +e.col._a_3
            |{{/each}}
            |{{#if sum}}
            .cart__total
              |итого: {{sum}} руб.
            |{{/if}}

  .title Наше меню
  .catalog
    .container
      +b.row
        +e.col._a_12
          #categories
          script(id="categories-template" type="text/x-handlebars-template")
            |{{#each categories}}
            .category(data-id="{{id}}")
              .category__body
                |{{#if img}}
                img(src="{{img}}").category__image
                |{{else}}
                .category__image
                |{{/if}}
                .category__title {{title}}
            |{{/each}}
    .container
       +b.row
        +e.col._a_12
          #products
          script(id="products-template" type="text/x-handlebars-template")
            |{{#each products}}
            +b.product(data-category-id="{{categoryID}}")
              +e.body
                |{{#if img}}
                +e.image
                  img(src="{{img}}")
                |{{else}}
                +e.image
                |{{/if}}
                +e.title {{title}}
                +e.description {{{description}}}
                +e.price {{price}} руб.
                .btn(data-id="{{id}}") В карзину
            |{{/each}}

  .footer