extends ../layouts/main.jade
block head
  title index

block body
  .header
    .container
      +b.row
        +e.col._a_12._c_4
          .logo
            img(src="images/logo.png")
            |Дом 
            span Суши
            //- .logo__description Доставка суши по Самаре
        +e.col._a_12._c_4
        +e.col._a_12._c_4
          .phone 8 (914) 432-18-18
      +b.row
        +e.col._a_12._b_12
          .offer Доставка суши <br>по Москве за 49 минут
  +b.cart
    +e.bg
    +e.icon 
    +e.body 
      |fhdfhjdhj <br><br> hfjhdjfhdj
      |fhdfhjdhj <br><br> hfjhdjfhdj
      |fhdfhjdhj <br><br> hfjhdjfhdj
      |fhdfhjdhj <br><br> hfjhdjfhdj
      |fhdfhjdhj <br><br> hfjhdjfhdj
      |fhdfhjdhj <br><br> hfjhdjfhdj
      |fhdfhjdhj <br><br> hfjhdjfhdj
      |fhdfhjdhj <br><br> hfjhdjfhdj
      |fhdfhjdhj <br><br> hfjhdjfhdj
      |fhdfhjdhj <br><br> hfjhdjfhdj
      |fhdfhjdhj <br><br> hfjhdjfhdj

  .title Наше меню
  .catalog
    .container
      +b.row
        +e.col._a_12
          .category.category_active
            .category__body
              img(src="images/p1.png").category__image
              .category__title Суши
          .category
            .category__body
              img(src="images/p2.png").category__image
              .category__title Ролы
          .category
            .category__body
              img(src="images/p3.png").category__image
              .category__title Сашими
          .category
            .category__body
              img(src="images/p4.png").category__image
              .category__title Соусы

    .container
       +b.row
        +e.col._a_12
          +b.product
            +e.body
              +e.image
                img(src="images/p1.png")
              +e.title Товар
              +e.description 
                Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки
              +e.price 300 руб.
              .btn В карзину
          +b.product
            +e.body
              +e.image
                img(src="images/p2.png")
              +e.title Товар
              +e.description
                Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки
              +e.price 300 руб.
              .btn В карзину
          +b.product
            +e.body
              +e.image
                img(src="images/p3.png")
              +e.title Товар
              +e.description
                Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов
              +e.price 300 руб.
              .btn В карзину
          +b.product
            +e.body
              +e.image
                img(src="images/p4.png")
              +e.title Товар
              +e.description
                Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки
              +e.price 300 руб.
              .btn В карзину

          +b.product
            +e.body
              +e.image
                img(src="images/p1.png")
              +e.title Товар
              +e.description
                Текст этот, несмотря на название, не имеет
              +e.price 300 руб.
              .btn В карзину
          +b.product
            +e.body
              +e.image
                img(src="images/p2.png")
              +e.title Товар
              +e.description
              +e.price 300 руб.
              .btn В карзину
          +b.product
            +e.body
              +e.image
                img(src="images/p3.png")
              +e.title Товар
              +e.description
                Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки
              +e.price 300 руб.
              .btn В карзину
          +b.product
            +e.body
              +e.image
                img(src="images/p4.png")
              +e.title Товар
              +e.description
                Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки
              +e.price 300 руб.
              .btn В карзину
  .container
    +b.row
      +e.col._a_10._a_offset_1